.footer {
    position: fixed;
    background-color: rgb(80, 65, 209);
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    margin-top: auto;
    bottom: 0;
    list-style: none;
}

#footer-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#footer-element {
    display: inline;
}

#footer-link {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
}

#footer-link:hover {
    text-decoration: underline;
}